/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: black;
  color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#contenedor {
  width: 100vw;
  height: 30vh;
  background-color: gray;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top {

}

.top hr {
  border: 3px dotted greenyellow;
}

.top h2, .form h2, form, .principal {
  text-align: center;
  padding: 10px 0 13px 0;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.form {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.form label {
  padding: 6px 10px;
  line-height: 20px;
}

.form form {
  padding-top: 30px;
}

form input[type=password] {
  padding: 6px 10px;
}

form input[type=button] {
  text-transform: uppercase;
  padding: 6px 10px;
  font-weight: bold;
}

.principal p{
  padding: 10px 0 30px 0;
}

#dinero {
  color: white;
}

